## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

## Visual Studio
.vs/
*.sln.ide/

## Rider
.idea/

## Build results
[Dd]ebug/
[Rr]elease/
x64/
x86/

## NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/

## Test results
[Tt]est[Rr]esult*/
*.trx
*.coverage
*.coveragexml
